name: Deploy to Oracle Cloud

on:
  push:
    branches:
      - main  # Cambia a 'master' si usas esa rama

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /home/ubuntu/docker/Tablero-tareas-DZD
            git pull origin main
            echo "GEMINI_API_KEY=${{ secrets.GEMINI_API_KEY }}" > .env
            echo "AUTH_USER=${{ secrets.AUTH_USER }}" >> .env
            echo "AUTH_PASS=${{ secrets.AUTH_PASS }}" >> .env
            docker compose down
            export $(cat .env | xargs)
            docker compose build --no-cache --build-arg GEMINI_API_KEY="${GEMINI_API_KEY}" --build-arg AUTH_USER="${AUTH_USER}" --build-arg AUTH_PASS="${AUTH_PASS}"
            docker compose up -d
            docker image prune -af